# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.out
*.app

# Log file
*.log
*.tlog

# Project files
*.sdf
*.opensdf
*.suo
*.vcxproj.user
ipch/
.DS_Store
*.vcxproj.filters
*/Debug*
*/debug*
*/Release*
*/release*
